<div>
    <div class="row" style="border-radius: 25px ; margin-left: 10%;">
        <div class="column">
            <img src="./assets/aviv.jpg" width="300" height="300" (click)="onClick1()"> 
            <h4 *ngIf='isAviv'>{{aviv}}</h4>
        </div>
        <div class="column">
            <img src="./assets/sagi.jpg" width="300" height="300" (click)="onClick3()"> 
            <h4 *ngIf='isSagi'>{{sagi}}</h4>
        </div>
        <div class="column">
            <img src="./assets/ohad.jpg" width="300" height="300" (click)="onClick2()"> 
            <h4 *ngIf='isOhad'>{{ohad}}</h4>
        </div>
    </div>
</div>