<div style="padding-top: 10%;  background-image: url('./assets/blue.jpg');color: antiquewhite;
background-repeat: no-repeat; overflow:hidden;  background-attachment: fixed; background-size:100%; height: 100% ;
background-size: cover;  height: 100vh; ">
    <div style="padding: 15px; margin: auto ;background-color: rgba(250, 235, 215, 0.534); width: fit-content; border-radius: 25px;">
        <h1> <strong>Hello {{firstName}} {{lastName}}</strong> <br/>
            <br/>Please use the side menu to manage your submissions
        </h1>
    </div>
</div>