<div style="padding-top: 20%;padding-left: 20%; background-image: url('./assets/photo1.jpg');color: antiquewhite;
 background-repeat: no-repeat; overflow:hidden;  background-attachment: fixed; background-size:100%; height: 100% ;
 background-size: cover;  height: 100vh;  ">
<div style="background-color: rgba(22, 91, 109, 0.644); width: fit-content; border-radius: 35px;">
  <div style="margin-left: 20%; ">
    <h1 style="padding: 5px; font-size: 40px; font-weight: bolder;  color: rgb(0, 0, 0);">
      Welcome to Aviv Ohad and Sagi lab and project managment system
    </h1>
  </div>

  <div class="container" style="display: flex;justify-content:center; vertical-align:center;">
  <mat-form-field appearance="fill">
      <mat-label style="color: rgb(56, 0, 209);">Enter ID</mat-label>
      <input matInput [(ngModel)]="loginId" style="color: black;">
    </mat-form-field>
  <button mat-flat-button color="primary" (click)="login()" style="height: 53px ;">Login</button>
  </div>

  <div class="container" style="display: flex;justify-content:center; vertical-align:center;">
    <a style="padding-right: 30; font-size: x-large; color: rgb(1, 3, 3); padding: 50px;"  routerLink="/register">Dont have an account ? click here </a>
  </div>
</div>
  
</div>
