<div style="background-image: url('./assets/fire.jpg');color: antiquewhite;
            background-repeat: no-repeat; overflow:hidden;  background-attachment: fixed; background-size:100%; height: 100% ;
            background-size: cover;  height: 100vh; ">
    <div style="margin-top: 5%;">
        <div >
            <h1>Project: Web Application</h1>
            <h2>Click on a picture to see details (and sound)</h2>
        </div>
        
        <app-details-to-photo [aviv]="'Aviv Shichman, ID: 203639869'" [sagi]="'Sagi Fishman, ID: 205736226'" 
        [ohad]="'Ohad Natan, ID: 315017947'"></app-details-to-photo>
    </div>
</div>
